/* Reset Styles */
body, html {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, Arial, "MS Trebuchet", sans-serif;
  font-size: 16px;
  color: #363636;
  -webkit-user-select: none;
  line-height: 1.2em;
}

h1, h2 {
  font-weight: bold;
  text-shadow: 0 1px 1px #ffffff;
}

h1 {
  font-size: 21pt;
  color: #404040;
}

h2 {
  font-size: 24pt;
  color: #404040;
  margin: 1em 0 0.7em 0;
}

h3 {
  font-size: 15px;
  color: #404040;
  text-shadow: 0 1px 1px #ffffff;
}

h4 {
  font-size: 14pt;
  color: #7e7f7e;
  text-shadow: 0 1px 1px #ffffff;
}

a {
  color: #363636;
  cursor: pointer;
  text-decoration: underline;
}

pre { 
  margin: 0;
  font-family: Helvetica, Arial, "MS Trebuchet", sans-serif;
}

/* Layout Styles */
html, body {
  height: 100%;
}

body > div {
  height: 100%;
}

#sidebar {
  float: left;
  width: 225px;
}

#content {
  height: 100%;
  margin-left: 225px;
}

/* Theme */
body {
  background: #DFE5EB;
}

#content {
  background: white;
  border-left: 1px solid #B9BFCC;
}

.toolbar {
  background: #C3C3C3;
  background: -webkit-gradient(linear, left top, left bottom, from(#E5E5E5), to(#B4B4B4));
  background: -moz-linear-gradient(top, #E5E5E5, #B4B4B4);
  background: linear-gradient(top, #E5E5E5, #B4B4B4);
  border-bottom: 1px solid #646464;

  -moz-box-shadow: 0px 1px 3px #646464;
  -webkit-box-shadow: 0px 1px 3px #646464;
  box-shadow: 0px 1px 3px #646464;

  padding: 5px;
}

#content .toolbar {
  margin-left: -1px;
}

#content .contact {
  padding: 12px;
}

.toolbar button {
  background: #D6D6D6;
  background: -webkit-gradient(linear, left top, left bottom, from(#F8F8F8), to(#BDBDBD));
  background: -moz-linear-gradient(top, #EFEFEF, #C6C6C6);
  background: linear-gradient(top, #EFEFEF, #C6C6C6);
  border: 1px solid #7F7F7F;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #272727;
  font-size: 12px;
  font-weight: bold;
  padding: 6px 10px;
}

.toolbar button.is-active {
  background: #868686;
  background: -webkit-gradient(linear, left top, left bottom, from(#696969), to(#9D9D9D));
  background: -moz-linear-gradient(top, #696969, #9D9D9D);
  background: linear-gradient(top, #696969, #9D9D9D);
  border: 1px solid #7F7F7F;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #FFF;
  font-size: 12px;
  font-weight: bold;
  padding: 6px 10px;
}

#sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 12px;
}

#sidebar ul li {
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 12px;
}

#sidebar ul li.is-selected {
  color: #ffffff;
  text-shadow: 0 -1px 1px #46677f;
  background: #7bb5db;
  background: -webkit-gradient(linear, left top, left bottom, from(#64B7E8), to(#1485D5));
  background: -moz-linear-gradient(top, #64B7E8, #1485D5);
  background: linear-gradient(top, #64B7E8, #1485D5);
  border-bottom: 1px solid #0075CE;
  border-top: 1px solid #3E9DDE;
}

.contact label {
  color: #aaaaaa;
  font-weight: bold;
}