<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<title>Ember Contacts</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="shortcut icon" href="favicon.ico">
	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<script type="text/x-handlebars">
	<div id="sidebar">
		<div class="toolbar">
			{{#view Em.Button
					classBinding="isActive"
					target="Contacts.contactsController"
					action="createContact"}}
				Add New Contact
			{{/view}}
		</div>
		{{#collection Contacts.ContactList
					contentBinding="Contacts.contactsController"
					tagName="ul"
					class="items"
					itemClassBinding="isSelected"}}
				<span class="name">{{content.fullName}}</span>
		{{/collection}}
	</div>
	<div id="content">
		{{#view isVisibleBinding="Contacts.contactController.hasNoContent"}}
			<div class="toolbar">
				{{#view Em.Button
						classBinding="isActive"
						target="Contacts.contactController"
						action="selectContact"}}
					Edit Contact
				{{/view}}
			</div>
			{{#view
					class="contact"
					contentBinding="Contacts.contactsController.selection"}}
				<h1>{{content.fullName}}</h1>
				<label>email</label> <span>{{content.emailAddress}}</span><br/>
				<label>phone</label> <span>{{content.phoneNumber}}</span>
			{{/view}}
		{{/view}}

		{{#view isVisibleBinding="Contacts.contactController.hasContent"}}
			<div class="toolbar">
				{{#view Em.Button
						class="default"
						classBinding="isActive"
						target="Contacts.contactController"
						action="saveContact"}}
					Save Contact
				{{/view}}
				{{#view Em.Button
						classBinding="isActive"
						target="Contacts.contactController"
						action="deleteContact"}}
					Delete Contact
				{{/view}}
			</div>

			{{#view class="contact" contentBinding="Contacts.contactController.content"}}
				<label>First Name</label>
				{{view Em.TextField
						placeholder="First Name"
						valueBinding="content.firstName"}}

				<br/>

				<label>Middle Name</label>
				{{view Em.TextField
						id="middleName"
						placeholder="Middle Name"
						valueBinding="content.middleName"}}

				<br/>

				<label>Last Name</label>
				{{view Em.TextField
						id="lastName"
						placeholder="Last Name"
						valueBinding="content.lastName"}}

				<br/>

				<label>Email Address</label>
				{{view Em.TextField
						id="emailAddress"
						placeholder="email@address.com"
						valueBinding="content.emailAddress"}}

				<br/>

				<label>Phone Number</label>
				{{view Em.TextField
						id="phoneNumber"
						placeholder="(123)456-7890"
						valueBinding="content.phoneNumber"}}
			{{/view}}
		{{/view}}
	</div>
	</script>

	<script src="js/libs/jquery-1.7.2.min.js"></script>
	<script src="js/libs/ember-0.9.8.1.js"></script>
	<script src="js/app.js"></script>
</body>
</html>
